body {
  box-sizing: border-box;

}

.categoryname-header {
  display: flex;
  margin-top: 80px;
  margin-left: 101px;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;

}


.btn-line {
 
  


  width: 96px;
  height: 2px;
  background: #5ECE7B;
}

.btn-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
}
.btn-line-none {
  display: none;
}