.specific-product-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1124.29px;
    margin-top: 72.39px;
    margin-left: 96.71px;


}

.product-desciption {
    display: flex;
    flex-direction: column;
    width: 292px;
}

.size-div {
    display: flex;
    flex-direction: column;
    width: 292px;


}

.size-div-button {
    display: flex;
    flex-direction: row;
    width: 63px;
    height: 45px;
    background-color: white;
    border-width: 1px;

    border-color: black;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    font-size: 16px;


}

.active {
    display: flex;
    flex-direction: row;
    width: 63px;
    height: 45px;
    background-color: white;
    border-width: 3px;

    border-color: black;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.properties-div {
    display: flex;
    flex-direction: column;
}

.values-div {
    display: flex;
    flex-direction: row;
}

.addCart-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    margin-top: 20px;
    border: none;
    color: white;

    align-items: center;
    justify-content: center;

    /* --button-font */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;


    width: 292px;
    height: 52px;
    background: #5ECE7B;
}

.product-price-div {
    display: flex;
    flex-direction: row;

    width: 86px;
    height: 46px;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;

    align-items: center;

    color: #1D1F22;

}

.img-grid-1 {
    display: grid;
    /* grid-template-columns: grid repeat(1, 4fr); */
    grid-auto-rows: 20%;
    /* play with this to change height of the children, 50% will fill half */
    grid-template-columns: unset;
    /* do not set template columns and rows */
    grid-template-rows: unset;
    overflow: scroll;
    max-height: 550px;
}

.img-box {
    Width: 79px;
    Height: 80px;
}

.img-section {
    display: flex;
    flex-direction: row;
}

.main-img {
    margin-top: 15px;
    Width: 610px;
    Height: 511px;
    object-fit: fill;
}

.item-color-btn {
    text-decoration: none;
    width: 32px;
    height: 32px;

    display: flex;
    flex-direction: row;

    border: none;


    border-color: black;
    margin-right: 12px;
    justify-content: center;
    align-items: center;


    /* box-sizing: border-box;
    border: 1px solid #5ECE7B; */
}

